.account {
  &__wrapper {
    width: 100%;
    padding: 100px 0 0;
  }

  &__table {
    display: flex;
  }

  &__img {
    position: relative;
    width: 187px;
    height: 187px;
  }

  &__pen {
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__trash {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__marks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 187px;
  }

  &__mark-items {
    position: relative;
    width: 100%;
    margin-bottom: 575px;
  }

  &__mark-item {
    width: 100%;
    height: 60px;
    border-top: 1px solid var(--text-black);
    border-right: 1px solid var(--text-black);
    font-size: 1.8rem;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px;
    cursor: pointer;

    &.active {
      background: var(--cerulean);
    }
  }

  &__content {
    width: 100%;
    max-width: 1090px;
    display: flex;
    flex-direction: column;
  }

  &__app {
    position: absolute;
    max-width: 187px;
    margin-top: 50px;
    left: 0;
    bottom: -325px;
  }

  &__app-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    color: var(--text-black);
    margin-bottom: 10px;
  }

  &__app-img {
    width: 187px;
    height: 187px;
    margin-bottom: 10px;
  }

  &__app-descr {
    font-size: 1.4rem;
    line-height: 17px;
  }
}

// * Content-items ==========================
// * ========================================
.content-item {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__name {
  }

  &__inputs {
    display: flex;
    align-items: end;
    margin-bottom: 20px;
  }

  &__input {
    width: 406px;
    margin-left: 30px;

    & label {
      display: block;
      margin-bottom: 10px;
      font-size: 1.5rem;
      line-height: 18px;
      font-weight: 600;
    }

    & input {
      width: 100%;
      height: 38px;
      padding: 10px;
      border: 1px solid var(--silver);
      &::placeholder {
        font-size: 1.4rem;
        color: var(--titanium);
      }
    }
  }

  &__save-button {
    width: 292px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
  }

  &__save-text {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__save-click {
    width: 50px;
    height: 50px;
    border: 2px solid var(--cerulean);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__save-click-img {
    width: 24px;
    height: 24px;
  }

  &__nomination {
    width: 100%;
  }

  &__nomination-item {
    margin-left: 30px;
  }
}

// * Nomination-item ============================
// * ============================================
.nomination-item {
  &:nth-child(2),
  &:nth-child(3) {
    & .nomination-item__title {
      border-top: 0;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-top: 2px solid var(--text-black);
    border-bottom: 2px solid var(--text-black);
    cursor: pointer;
  }

  &__title-text {
    max-width: 850px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2%;
  }

  &__title-icon {
    width: 20px;
    height: 10px;
    margin-right: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 22px;
      height: 12px;
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;

    position: relative;
    z-index: 1;
    max-width: 100%;
    max-height: 0;
    opacity: 0;
    will-change: max-height;
    overflow: hidden;
    box-sizing: content-box;
    transform: translateY(-30px);
    transition: all 0.5s ease-in-out;
  }

  &__list {
    width: 100%;
    max-width: 400px;
  }

  &__descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__name {
  }

  &__count {
  }

  &__map {
    width: 100%;
    max-width: 600px;
    height: 400px;
  }
}

.nomination-item__title.open .nomination-item__title-icon {
  transform: rotate(-180deg);
  transform-origin: center;
  @media (max-width: 576px) {
    transform: rotate(0deg);
    opacity: 0;
  }
}

.nomination-item__title.open {
  border-bottom: 0;
}

.nomination-item__title.open + .nomination-item__content {
  opacity: 1;
  z-index: 2;
  padding: 10px 0 50px;
  border-top: none;
  border-bottom: 2px solid var(--text-black);
  transform: translateY(0px);
  transition: all 0.5s ease-in-out;
}
