.account {
  &__wrapper {
    width: 100%;
    padding: 100px 0 0;

    @media (max-width: 1280px) {
      padding: 80px 20px 0;
    }

    @media (max-width: 770px) {
      padding: 30px 15px 60px;
    }

    @media (max-width: 760px) {
      margin-top: 90px;
    }

    @media (max-width: 360px) {
      margin-top: 60px;
    }
  }

  &__table {
    display: flex;

    @media (max-width: 770px) {
      flex-wrap: wrap;
    }
  }

  &__img {
    position: relative;
    width: 187px;
    height: 187px;

    @media (max-width: 770px) {
      min-width: 202px;
      height: 202px;
      margin-right: 20px;
    }

    @media (max-width: 400px) {
      min-width: 150px;
    }

    @media (max-width: 330px) {
      margin-right: 10px;
    }
  }

  &__pen {
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;

    @media (max-width: 400px) {
      width: 30px;
      height: 30px;
      right: 30px;
      bottom: 55px;
    }
  }

  &__trash {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;

    @media (max-width: 400px) {
      width: 30px;
      height: 30px;
      bottom: 55px;
    }
  }

  &__marks {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 187px;

    @media (max-width: 770px) {
      flex-direction: row;
      align-items: start;
      max-width: 100%;
    }
  }

  &__mark-items {
    // position: relative;
    width: 100%;
    margin-bottom: 575px;

    @media (max-width: 1024px) {
      margin-bottom: 375px;
    }

    @media (max-width: 770px) {
      margin-bottom: 50px;
    }
  }

  &__mark-item {
    width: 100%;
    height: 60px;
    border-top: 1px solid var(--text-black);
    border-right: 1px solid var(--text-black);
    font-size: 1.8rem;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px;
    cursor: pointer;

    @media (max-width: 770px) {
      height: 50px;
      border-left: 1px solid var(--text-black);
      letter-spacing: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(4) {
        border-right: none;
        border-left: none;
      }
    }

    &.active {
      background: var(--cerulean);
    }

    &:nth-child(4) {
      padding: 10px 10px 0 0;

      @media (max-width: 770px) {
        padding: 9px 0 0;
      }
    }

    &:nth-child(4).active {
      background: var(--white);
      & .account__mark-item-button {
        background: var(--cerulean);
      }
    }
  }

  &__mark-item-button {
    width: 182px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cerulean);

    @media (max-width: 770px) {
      width: 100%;
      height: 50px;
    }

    @media (max-width: 400px) {
      position: absolute;
      left: 0;
      bottom: 35px;
    }
  }

  &__content {
    width: 100%;
    max-width: 1090px;
    display: flex;
    flex-direction: column;
  }

  &__app {
    position: absolute;
    max-width: 187px;
    margin-top: 50px;
    left: 0;
    bottom: 260px;

    @media (max-width: 1024px) {
      bottom: 65px;
    }

    @media (max-width: 770px) {
      display: none;
    }
  }

  &__app-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    color: var(--text-black);
    margin-bottom: 10px;
  }

  &__app-img {
    width: 187px;
    height: 187px;
    margin-bottom: 10px;
  }

  &__app-descr {
    font-size: 1.4rem;
    line-height: 17px;
  }
}

// * Content-items ==========================
// * ========================================
.content-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;

  &__inputs {
    display: flex;
    align-items: end;
    margin-bottom: 20px;

    @media (max-width: 976px) {
      flex-wrap: wrap;
    }
  }

  &__input {
    width: 100%;
    max-width: 406px;
    margin-left: 30px;

    @media (max-width: 976px) {
      max-width: 100%;
    }

    @media (max-width: 770px) {
      margin-left: 0;
    }

    & label {
      display: block;
      margin-bottom: 10px;
      font-size: 1.5rem;
      line-height: 18px;
      font-weight: 600;
    }

    & input {
      width: 100%;
      height: 38px;
      padding: 10px;
      border: 1px solid var(--silver);
      &::placeholder {
        font-size: 1.4rem;
        color: var(--titanium);
      }
    }
  }

  &__input-first-name,
  &__input-visible,
  &__input-pass-repeat {
    @media (max-width: 976px) {
      margin-bottom: 20px;
    }
  }

  &__save-button {
    width: 292px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;

    @media (max-width: 976px) {
      flex-direction: row;
      margin-left: auto;
    }
  }

  &__save-text {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__save-click {
    width: 50px;
    height: 50px;
    border: 2px solid var(--cerulean);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__save-click-img {
    width: 24px;
    height: 24px;
  }

  &__nomination {
    width: 100%;
  }

  &__nomination-item {
    margin-left: 30px;

    @media (max-width: 770px) {
      margin-left: 0;
    }
  }
}

// * Nomination-item ============================
// * ============================================
.nomination-item {
  &:nth-child(2),
  &:nth-child(3) {
    & .nomination-item__title {
      border-top: 0;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-top: 2px solid var(--text-black);
    border-bottom: 2px solid var(--text-black);
    cursor: pointer;

    @media (max-width: 640px) {
      height: auto;
      padding: 10px 0;
    }
  }

  &__title-text {
    max-width: 850px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2%;
  }

  &__title-icon {
    width: 20px;
    height: 10px;
    margin-right: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 22px;
      height: 12px;
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    z-index: 1;
    max-width: 100%;
    max-height: 0;
    opacity: 0;
    will-change: max-height;
    overflow: hidden;
    box-sizing: content-box;
    transform: translateY(-30px);
    transition: all 0.5s ease-in-out;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: start;
    }
  }

  &__list {
    width: 100%;
    max-width: 400px;
    margin-right: 20px;

    @media (max-width: 770px) {
      margin-right: 0;
    }
  }

  &__descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__map {
    width: 100%;
    max-width: 600px;
    min-height: 400px;
  }
}

.nomination-item__title.open .nomination-item__title-icon {
  transform: rotate(-180deg);
  transform-origin: center;
  @media (max-width: 576px) {
    transform: rotate(0deg);
    opacity: 0;
  }
}

.nomination-item__title.open {
  border-bottom: 0;
}

.nomination-item__title.open + .nomination-item__content {
  opacity: 1;
  z-index: 2;
  padding: 10px 0 50px;
  border-top: none;
  border-bottom: 2px solid var(--text-black);
  transform: translateY(0px);
  transition: all 0.5s ease-in-out;
}

// * Proposal-item ========================================
// * =================================================

.proposal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 0 10px 30px;
  border-top: 2px solid var(--text-black);
  border-bottom: 2px solid var(--text-black);

  @media (max-width: 770px) {
    margin: 0 0 20px 0;
  }

  &__title {
    width: 100%;
    max-width: 700px;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__clause {
    min-width: 355px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 730px) {
      min-width: 245px;
    }

    @media (max-width: 600px) {
      min-width: 85px;
      margin-left: 25px;
    }
  }

  &__date {
    font-size: 1.8rem;
    font-weight: 600;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__buttons {
  }

  &__button-text {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 8px 24px;
    border: 2px solid var(--cerulean);

    @media (max-width: 730px) {
      display: none;
    }
  }

  &__button-icon {
    width: 25px;
    height: 25px;
    display: none;

    @media (max-width: 730px) {
      display: block;
    }
  }

  &__delete {
    width: 24px;
    height: 24px;
  }
}

// * New Proposal ===================================
// * ================================================

.new-proposal {
  margin-left: 30px;
  margin-bottom: 60px;

  @media (max-width: 770px) {
    margin-left: 0;
  }

  @media (max-width: 480px) {
    margin-bottom: 0;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 25px;

    @media (max-width: 770px) {
      font-size: 2rem;
    }
  }

  &__category-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__category-dropdown {
    width: 100%;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
    margin-bottom: 20px;

    & .nomination-item__title {
      border-top: 0;
      border-bottom: 0;
    }
  }

  &__route {
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;

    @media (max-width: 770px) {
      max-width: 100%;
    }
  }

  &__route-name {
    & span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  &__route-input {
    width: 100%;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
  }

  &__checks {
    width: 120px;
    margin-bottom: 40px;
  }

  &__check {
    position: relative;
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__man-input {
    position: absolute;
    appearance: none;
  }

  &__man-input:checked + .new-proposal__man-checkbox::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--text-black);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__man-checkbox {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--text-black);
    border-radius: 50%;
  }

  &__names {
    display: flex;

    @media (max-width: 440px) {
      flex-wrap: wrap;
    }
  }

  &__name {
    display: block;
    width: 100%;
    max-width: 405px;
    margin-bottom: 20px;

    &:nth-child(1) {
      margin-right: 30px;

      @media (max-width: 480px) {
        margin-right: 20px;
      }

      @media (max-width: 440px) {
        max-width: 100%;
        margin-right: 0;
      }
    }

    & span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__name-input {
    width: 100%;
    max-width: 405px;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
  }

  &__mail {
    display: block;
    width: 100%;
    max-width: 405px;
    margin-bottom: 20px;

    @media (max-width: 770px) {
      max-width: 355px;
    }

    @media (max-width: 480px) {
      max-width: 215px;
    }

    @media (max-width: 440px) {
      max-width: 100%;
    }

    & span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__mail-input {
    width: 100%;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
  }

  &__place {
    display: flex;

    @media (max-width: 440px) {
      flex-wrap: wrap;
    }
  }

  &__country {
    display: block;
    width: 100%;
    max-width: 405px;
    margin-right: 30px;
    margin-bottom: 20px;

    @media (max-width: 480px) {
      margin-right: 20px;
    }

    @media (max-width: 440px) {
      max-width: 100%;
      margin-right: 0;
    }

    & span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__country-input {
    width: 100%;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
  }

  &__city {
    display: block;
    width: 100%;
    max-width: 405px;
    margin-bottom: 20px;

    @media (max-width: 440px) {
      max-width: 100%;
    }

    & span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__city-input {
    width: 100%;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
  }

  &__model {
    display: block;
    width: 100%;
    max-width: 405px;
    margin-bottom: 20px;

    @media (max-width: 770px) {
      max-width: 355px;
    }

    @media (max-width: 480px) {
      max-width: 215px;
    }

    @media (max-width: 440px) {
      max-width: 100%;
    }

    & span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__model-input {
    width: 100%;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
  }

  &__space {
    display: flex;

    @media (max-width: 770px) {
      align-items: end;
    }

    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }

  &__times {
    display: flex;
    margin-right: 30px;

    @media (max-width: 480px) {
      margin-right: 0;
    }

    @media (max-width: 440px) {
      flex-wrap: wrap;
    }
  }

  &__time {
    display: block;
    width: 100%;
    max-width: 185px;
    margin-right: 30px;
    margin-bottom: 20px;

    @media (max-width: 480px) {
      margin-right: 20px;
      max-width: 215px;
    }

    @media (max-width: 440px) {
      margin-right: 0;
      max-width: 100%;
    }

    & span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__time-input {
    width: 100%;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
  }

  &__date {
    display: block;
    width: 100%;
    max-width: 185px;
    margin-bottom: 20px;

    @media (max-width: 480px) {
      max-width: 215px;
    }

    @media (max-width: 440px) {
      max-width: 100%;
    }

    & span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__date-input {
    width: 100%;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
  }

  &__run {
    display: block;
    width: 100%;
    max-width: 405px;
    margin-bottom: 20px;

    @media (max-width: 770px) {
      max-width: 355px;
    }

    @media (max-width: 480px) {
      max-width: 215px;
    }

    @media (max-width: 440px) {
      max-width: 100%;
    }

    & span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__run-input {
    width: 100%;
    height: 38px;
    border: 1px solid var(--silver);
    background: var(--white);
  }

  &__save {
    margin-top: 40px;

    @media (max-width: 480px) {
      margin-top: -70px;
    }

    @media (max-width: 440px) {
      margin-top: 0;
    }
  }

  &__button {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 770px) {
      flex-direction: row-reverse;
      margin-left: auto;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--cerulean);
    cursor: pointer;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__button-text {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

// * Category-dropdown ==========================
// * ============================================

.category-dropdown {
  position: relative;

  &__title {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  &__text {
  }

  &__icon {
    width: 12px;
    height: 9px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  &__list {
    display: none;

    &.nomination-item__content {
      border-bottom: none !important;
    }
  }

  &__item {
    min-height: 38px;
    padding: 0 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--silver);

    &:hover {
      background: var(--silver);
      cursor: pointer;
    }
  }
}

.category-dropdown__title.open + .category-dropdown__list {
  display: block;
  width: 100%;
  padding: 10px 0 115px;
  position: absolute;
  z-index: 10;
  background: var(--white);
  border: 1px solid var(--silver);
}
