.awards {
  &__wrapper {
    padding: 100px 0 240px;

    @media (max-width: 1280px) {
      padding: 80px 20px 100px;
    }

    @media (max-width: 760px) {
      margin-top: 90px;
      padding: 60px 15px 70px;
    }

    @media (max-width: 360px) {
      margin-top: 60px;
      padding: 50px 15px 60px;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 50px;

    @media (max-width: 600px) {
      font-size: 2.4rem;
      margin-bottom: 30px;
    }
  }

  &__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    @media (max-width: 600px) {
      flex-wrap: wrap;
    }
  }

  &__category-choice {
    width: 100%;
    max-width: 950px;
    margin-right: 30px;

    @media (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__category-choice-label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__category-choice-dropdown {
    width: 100%;
    position: relative;

    & .nomination-item__title.open + .nomination-item__content {
      padding: 0;
      border-left: 1px solid var(--silver);
      border-right: 1px solid var(--silver);
      border-bottom: 1px solid var(--silver);
    }
  }

  &__category-choice-title {
    height: 38px;
    padding: 10px;
    background: var(--white);
    border: 1px solid var(--silver);
  }

  &__category-choice-title.open > .awards__category-choice-icon {
    transform: rotate(-180deg);
  }

  &__category-choice-text {
    @media (max-width: 870px) {
      width: 360px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__category-choice-icon {
    width: 20px;
    height: 10px;
    transition: 0.3s ease-in-out;
  }

  &__category-choice-list {
    position: absolute;
    width: 100%;
    height: auto;
    background: var(--white);
    display: flex;
    flex-direction: column;
  }

  &__category-choice-item {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background: var(--silver);
    }

    @media (max-width: 870px) {
      width: 360px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // * Category-search ==========================
  &__category-search {
    width: 100%;
    max-width: 295px;

    @media (max-width: 600px) {
      max-width: 100%;
    }
  }

  &__category-search-title {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__category-search-input {
    width: 100%;
    height: 38px;
    padding: 10px;
    background: var(--white);
    border: 1px solid var(--silver);
  }

  &__list {
    width: 100%;
    max-width: 1255px;
    margin-right: 0;
  }

  &__item {
    width: 100%;
  }

  &__item-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 20px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--text-black);

    @media (max-width: 1280px) {
      padding: 10px 0;
    }

    &:hover {
      border: 1px solid var(--cerulean);
      box-sizing: border-box;
    }
  }

  &__name {
    width: 100%;
    max-width: 300px;
    margin-right: 30px;

    & span {
      color: var(--cerulean);
    }
  }

  &__geo {
    width: 100%;
    max-width: 430px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1165px) {
      min-width: 250px;
    }

    @media (max-width: 760px) {
      display: none;
    }
  }

  &__city {
    width: 100%;
    max-width: 300px;
  }

  &__date {
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__route {
    width: 100%;
    max-width: 420px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1165px) {
      max-width: 300px;
    }
  }

  &__model {
    width: 100%;
    min-width: 300px;

    @media (max-width: 1165px) {
      min-width: 150px;
    }

    @media (max-width: 530px) {
      display: none;
    }
  }

  &__mile {
    width: 100%;
    min-width: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
