.events {
  padding: 120px 0 240px;

  &__title {
    margin-bottom: 50px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  &__item {
    position: relative;
    background: var(--white);
  }

  &__item1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  &__item2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  &__item3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  &__item4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  &__item5 {
    grid-area: 2 / 3 / 3 / 4;
  }

  &__img {
    width: 420px;
    height: 370px;
  }

  &__description {
    padding: 20px;
  }

  &__subtitle {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-black);
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--cerulean);
    }
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-black);
    margin-bottom: auto;
  }

  &__date {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 17px;
    font-weight: 400;
    color: var(--text-black);
    text-align: right;
  }
}
