.footer {
  padding: 50px 0 30px;
  background: var(--footer-bg);
  @media (max-width: 1280px) {
    padding: 40px 60px;
  }
  @media (max-width: 860px) {
    padding: 50px;
  }
  @media (max-width: 620px) {
    padding: 50px 40px;
  }

  &__items-up {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 53px;
    @media (max-width: 1140px) {
      margin-bottom: 0;
    }

    & .footer__item {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      width: 100%;
      max-width: 515px;
      @media (max-width: 860px) {
        max-width: 100%;
        justify-content: space-between;
        &:nth-child(1) {
          margin-bottom: 65px;
        }
      }
      @media (max-width: 440px) {
        justify-content: center;
      }
    }
    @media (max-width: 860px) {
      flex-wrap: wrap;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__contact {
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 1px;
    color: var(--white);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--cerulean);
    }
    &:nth-child(2) {
      margin-bottom: 20px;
      @media (max-width: 1140px) {
        margin-bottom: 30px;
      }
      @media (max-width: 620px) {
        margin-bottom: 40px;
      }
    }
    @media (max-width: 1140px) {
      margin-bottom: 15px;
    }
    @media (max-width: 620px) {
      font-size: 2.5rem;
      line-height: 40px;
    }
    @media (max-width: 440px) {
      font-weight: 400;
      text-align: center;
    }
  }

  &__social {
    width: 184px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    @media (max-width: 620px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    @media (max-width: 440px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin: 0 auto;
    }
  }

  &__social-link {
    width: 48px;
    height: 48px;
    display: block;
  }

  &__menu {
    width: 210px;
    margin-left: 142px;
    @media (max-width: 1140px) {
      margin-left: 108px;
    }
    & li {
      @media (max-width: 1140px) {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
    @media (max-width: 860px) {
      margin-left: 185px;
    }
    @media (max-width: 620px) {
      display: none;
    }
  }

  &__menu-link {
    display: inline-block;
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 23px;
    color: var(--white);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--cerulean);
    }
  }

  &__brend {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 30px;
    color: var(--text-black);
    @media (max-width: 1140px) {
      font-size: 1.8rem;
      letter-spacing: 1px;
      margin-left: auto;
    }
    @media (max-width: 860px) {
      margin-left: 0;
    }
  }

  &__items-down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 1140px) {
      width: 100%;
      max-width: 250px;
      margin-top: -105px;
      margin-left: auto;
      flex-wrap: wrap-reverse;
    }
    @media (max-width: 860px) {
      max-width: 100%;
      justify-content: space-between;
      margin-left: 0;
      margin-top: -25px;
    }
    @media (max-width: 620px) {
      flex-wrap: wrap;
    }
    @media (max-width: 440px) {
      justify-content: center;
    }
  }

  &__confirm {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--text-black);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--cerulean);
    }
    @media (max-width: 1140px) {
      margin-top: 30px;
    }
    @media (max-width: 620px) {
      margin-right: 50px;
    }
    @media (max-width: 540px) {
      margin-bottom: 40px;
    }
    @media (max-width: 440px) {
      text-align: center;
      margin-right: 0;
    }
  }

  &__name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--text-black);
    margin: 0 220px 10px 300px;
    @media (max-width: 1140px) {
      margin: 0 0 10px 0;
      text-align: right;
    }
    @media (max-width: 860px) {
      &:nth-child(2) {
        margin-bottom: 0;
      }
    }
    @media (max-width: 540px) {
      text-align: left;
      &:nth-child(2) {
        margin-bottom: 100px;
      }
    }
    @media (max-width: 440px) {
      display: none;
    }
  }
}
