.merch {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0 140px;

    @media (max-width: 1280px) {
      max-width: 980px;
      padding: 80px 10px 60px;
      margin: 0 auto;
    }

    @media (max-width: 960px) {
      max-width: 760px;
    }

    @media (max-width: 760px) {
      max-width: 500px;
    }

    @media (max-width: 440px) {
      padding: 30px 0 20px;
    }
  }

  &__card {
    width: 100%;
    max-width: 625px;
    height: 600px;
    padding: 20px 30px;
    margin: 0 0 100px 0;
    background: var(--main-bg);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1280px) {
      max-width: 470px;
      height: 520px;
      padding: 20px 8px;
      margin: 0 0 20px 0;
    }

    @media (max-width: 960px) {
      max-width: 360px;
      height: 620px;
      padding: 20px;
    }

    @media (max-width: 760px) {
      max-width: 440px;
      height: 630px;
    }

    @media (max-width: 440px) {
      max-width: 360px;
      margin: 0 auto 60px;
    }
  }

  &__card-title {
    font-size: 2.4rem;
    line-height: 30px;
    font-weight: 500;

    @media (max-width: 1280px) {
      font-size: 2rem;
      line-height: 24px;
      font-weight: 600;
      min-height: 72px;
      padding: 0 12px;
      margin-bottom: 40px;
    }

    @media (max-width: 960px) {
      font-weight: 500;
      min-height: 45px;
      padding: 0;
      margin-bottom: 30px;
    }

    @media (max-width: 440px) {
      font-size: 1.6rem;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 40px;
    }
  }

  &__card-body {
    display: flex;
    justify-content: space-between;
    align-items: start;

    @media (max-width: 1280px) {
      padding: 0 12px;
    }

    @media (max-width: 960px) {
      flex-wrap: wrap;
      padding: 0;
    }
  }

  &__card-img {
    width: 295px;

    @media (max-width: 1280px) {
      width: 200px;
    }

    @media (max-width: 960px) {
      margin: 0 auto 30px;
    }
  }

  &__card-price {
    max-width: 130px;

    @media (max-width: 960px) {
      max-width: 200px;
      margin-bottom: 40px;
    }

    @media (max-width: 760px) {
      margin: 0 20px 40px 0;
    }

    & span {
      display: block;
      font-size: 2.4rem;
      line-height: 30px;
      text-align: right;
      margin-bottom: 10px;

      @media (max-width: 1280px) {
        font-size: 2rem;
        line-height: 24px;
        font-weight: 600;
      }

      @media (max-width: 960px) {
        text-align: left;
      }

      @media (max-width: 440px) {
        font-size: 1.6rem;
        line-height: 20px;
      }
    }
    & p {
      font-size: 1.4rem;
      line-height: 17px;
      text-align: right;
    }
  }

  &__card-footer {
    width: 100%;
    max-width: 455px;
  }

  &__card-text {
    font-size: 1.5rem;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__card-buttons {
    display: flex;
    margin-bottom: 10px;

    @media (max-width: 960px) {
      flex-wrap: wrap;
    }

    @media (max-width: 760px) {
      justify-content: flex-end;
    }

    @media (max-width: 440px) {
      justify-content: flex-start;
    }
  }

  &__card-tel {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-black);
    padding: 8px 24px;
    margin-right: 10px;
    border: 2px dashed var(--cerulean);
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--cerulean);
    }

    @media (max-width: 960px) {
      margin-bottom: 10px;
    }

    @media (max-width: 760px) {
      margin-right: 0;
    }
  }

  &__card-mail {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-black);
    padding: 8px 24px;
    border: 2px dashed var(--cerulean);
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--cerulean);
    }
  }

  &__card-subtext {
    font-size: 1.4rem;
    line-height: 17px;
    font-weight: 400;

    @media (max-width: 960px) {
      display: none;
    }
  }
}
