.sertificat {
  &__header {
    width: 100%;
    max-width: 760px;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 48px;
    color: var(--text-black);
    margin-bottom: 50px;
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__step {
  }

  &__step-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 7.2rem;
    font-weight: 900;
    font-style: italic;
    line-height: 88px;
    color: var(--text-black);
  }

  &__step-text {
  }

  &__step-button {
  }
}
