.sertificat {
  padding: 120px 0;
  background: var(--white);

  &__wrapper {
    display: flex;
    // justify-content: space-between;
    align-items: flex-end;
  }

  &__description {
    width: 100%;
    max-width: 765px;
  }

  &__header {
    max-width: 515px;
    margin-bottom: 50px;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 30px;
    color: var(--text-black);
    margin-bottom: 15px;
  }

  &__buttons {
    display: flex;
    margin-top: 50px;
  }

  &__button {
    display: inline-block;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-black);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 124px;
    border: 2px dashed var(--cerulean);
    margin-right: 8px;
  }

  &__img {
    width: 330px;
    height: 430px;
    margin-left: 95px;
  }
}
