.sertificat {
  &__header {
    width: 100%;
    max-width: 760px;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 48px;
    color: var(--text-black);
    margin-bottom: 50px;
  }

  &__steps {
  }

  &__step {
  }

  &__step-header {
  }

  &__step-text {
  }

  &__step-button {
  }
}
