.slider {
  position: relative;
  z-index: 1;
  margin-bottom: 150px;

  @media (max-width: 1280px) {
    padding: 0 30px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 80px;
  }

  @media (max-width: 768px) {
    padding: 0 25px;
  }

  @media (max-width: 760px) {
    padding: 0 0;
  }

  @media (max-width: 480px) {
    margin-bottom: 60px;
  }

  &__iron {
    width: 100%;
    max-width: 1280px;
    height: 600px;

    @media (max-width: 1024px) {
      height: 480px;
    }

    @media (max-width: 768px) {
      height: 360px;
    }

    @media (max-width: 480px) {
      height: 385px;
    }

    @media (max-width: 360px) {
      height: 290px;
    }
  }

  &__iron-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05), inset 0px -4px 4px rgba(0, 0, 0, 0.05),
      inset 4px 0px 4px rgba(0, 0, 0, 0.05), inset -4px 0px 4px rgba(0, 0, 0, 0.05);
  }

  &__arrow {
    width: 24px;
    height: 12px;
    margin: 30px auto 0;
    cursor: pointer;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.swiper-pagination-bullet {
  width: 40px;
  height: 12px;
  border-radius: 0;
  border: 1px solid var(--cerulean);
  opacity: 1;
  background: var(--white);
  margin: 0 2px important;
  transform: skew(-25deg);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
