:root {
  // colors
  --white: #fff;
  --black: #000;
  --main-bg: #f7f7f7;
  --footer-bg: #131313;
  --cerulean: #01a0e2;
  --text-black: #444;
  --bronze: #cd7f32;
  --silver: #c0c0c0;
  --gold: #ffd700;
  --platinum: #e5e4e2;
  --titanium: #878681;
  --diamond: #b9f2ff;
  --bg-gray: #d7d7d7;
}
